body{
background:black;
color:white;
font-family:Arial;
margin:0;
}

/* .title{
text-align:center;
padding:20px;
} */

.title{
text-align:center;
margin-top:15px;
margin-bottom:12px;

/* ⭐ Smaller Size */
font-size:36px;

font-weight:bold;
letter-spacing:2px;

/* ⭐ Light Premium Green */
color:#6EE7B7;

/* ⭐ Soft Green Glow + Depth */
text-shadow:
1px 1px 0px #A8F0D3,
2px 2px 0px rgba(0,0,0,0.3),
3px 3px 6px rgba(0,0,0,0.4),
0 0 8px rgba(110,231,183,0.6);

transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.title:hover{
transform:translateY(-3px) scale(1.02);

/* ⭐ Hover Glow Boost */
text-shadow:
1px 1px 0px #A8F0D3,
3px 3px 8px rgba(0,0,0,0.5),
0 0 15px rgba(110,231,183,0.9);
}




.filters{
text-align:center;
}

.filters button{
padding:10px 20px;
margin:5px;
background:#00c6ff;
border:none;
cursor:pointer;
border-radius:8px;
box-shadow:0 0 10px #00c6ff;
transition:0.3s;
}

.filters button:hover{
box-shadow:0 0 20px #00c6ff;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
padding:20px;
}

.gallery img{
width:100%;
height:220px;
object-fit:cover;
border-radius:10px;
cursor:pointer;

transition:transform 0.2s ease;
will-change:transform;
}

/*  Hover Effect */
.gallery img:hover{
transform:scale(1.08) translateY(-5px);

box-shadow:
0 10px 25px rgba(0,198,255,0.5),
0 0 20px rgba(0,198,255,0.3);

filter:brightness(1.1);
}


#lightbox{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:black;
display:none;
justify-content:center;
align-items:center;
}

#lightbox img{
max-width:80%;
max-height:80%;
}

.nav{
position:absolute;
top:50%;
font-size:40px;
background:none;
border:none;
color:white;
cursor:pointer;
}

.prev{left:40px;}
.next{right:40px;}

.backBtn{
position:absolute;
top:20px;
left:20px;
padding:10px 15px;
background:#00c6ff;
border:none;
cursor:pointer;
}


 