body{
    margin:0;
    background:#121212;
    font-family:Arial;
    color:white;
}

.container{
    display:flex;
    gap:40px;
    padding:30px;
}

/* PLAYER */
.player{
    width:380px;
    background:#181818;
    padding:25px;
    border-radius:18px;
    text-align:center;
    position:sticky;
    top:20px;
}

.player img{
    width:260px;
    height:260px;
    object-fit:cover;
    border-radius:12px;
}

.controls button{
    background:#1db954;
    border:none;
    padding:14px;
    margin:10px;
    border-radius:50%;
    font-size:18px;
    cursor:pointer;
}

input[type=range]{ width:100%; }

/* LIBRARY */
.library{
    flex:1;
}

#cards{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(170px,1fr));
    gap:20px;
    margin-top:20px;
}

/* SONG CARD */
.songCard{
    background:#181818;
    padding:15px;
    border-radius:12px;
    cursor:pointer;
    transition:0.25s;
}

.songCard:hover{
    background:#282828;
    transform:translateY(-5px);
}

.songCard img{
    width:100%;
    height:150px;
    object-fit:cover;
    border-radius:10px;
}

.songCard h3{
    margin:8px 0 3px;
    font-size:16px;
}

.songCard p{
    font-size:13px;
    opacity:0.7;
}
