*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

.bg{
min-height:100vh;
background:linear-gradient(135deg,#b56cff,#ff8bd8);
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
padding:15px;
}

/* Top Buttons */

.top-bar{
width:320px;
display:flex;
justify-content:space-between;
margin-bottom:10px;
}

.top-bar button{
border:none;
padding:10px 14px;
border-radius:12px;
font-size:18px;
cursor:pointer;
background:white;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

/* Calculator Box */

.calculator{
width:320px;
background:white;
border-radius:25px;
padding:18px;
box-shadow:0 15px 40px rgba(0,0,0,0.3);
}

/* Display */

#display{
height:70px;
background:#f3f3f3;
border-radius:15px;
padding:15px;
font-size:28px;
text-align:right;
overflow-x:auto;
}

/* Buttons Grid */

.buttons{
margin-top:15px;
display:grid;
grid-template-columns:repeat(4,1fr);
gap:12px;
}

/* Buttons Style */

button{
border:none;
padding:16px;
border-radius:15px;
font-size:18px;
cursor:pointer;
background:#f2f2f2;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
transition:0.15s;
}

/* Press Animation */

button:active{
transform:scale(0.92);
}

/* Operators */

.op{
background:#a855f7;
color:white;
}

.equal{
background:#ff4f8b;
color:white;
grid-column:span 2;
}

.zero{
grid-column:span 2;
}

/* History Panel */

.history-panel{
position:fixed;
right:-300px;
top:0;
width:260px;
height:100%;
background:white;
padding:15px;
transition:0.4s;
overflow-y:auto;
box-shadow:-5px 0 20px rgba(0,0,0,0.3);
}

.history-panel h3{
margin-bottom:10px;
}

.history-panel.active{
right:0;
}

/* Dark Theme */

.dark .calculator{
background:#1e1e1e;
}

.dark #display{
background:#111;
color:white;
}

.dark button{
background:#333;
color:white;
}

.dark .op{
background:#9333ea;
}

/* Black Theme */

.black .calculator{
background:#000;
}

.black #display{
background:#111;
color:#0f0;
}

.black button{
background:#222;
color:#0f0;
}

.black .op{
background:#000;
border:1px solid #0f0;
}

/* Mobile Responsive */

@media(max-width:380px){

.calculator{
width:100%;
}

.top-bar{
width:100%;
}

}